{% extends "template.twig"%} 
{% block container %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sobre o projeto desenvolvido: </h3>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <p>
            O <strong>ONGômeto</strong> é um sistema que possibilita o acesso a informações importantes
            provenientes da base de dados do <a href="http://api.convenios.gov.br/siconv/doc/">SICONV</a> 
            (Portal dos Convênios), tais como valores dos repasses do governo para ONGs e prefeituras,
            valores recebidos, status das prestações de contas, dentre outros.
            O ONGômeto foi criado para clarificar esses repasses governamentais para tais instituições,
            com o fim de colaborar com o programa do governo brasileiro de transparência com os
            gastos públicos.
            
        </p>
    </div>
    <div class="panel-body">
        
        
    </div>
</div>
{% endblock%}
