{% extends "template.twig"%}
{% block container %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Bem vindo ao ONGômetro</h1>
    <h2>Selecione o estado</h2>
    <form action="/ong" method="post">
        <p>
            <label>Situação</label>
            {% for key, situacao in listaSituacao %}
                <input type="radio" name="situacao" value="{{situacao.id}}">{{situacao.nome}}<br>
            {% endfor%}
                
        </p>
        <p>
            <label>Escolha o Estado</label>
            <select name="uf">
            {% for sigla, nome in listaEstados %}
                <option  value="{{sigla}}">{{nome}}</option>
            {% endfor%}
            </select>
        </p>
        <p><input type="submit" value="Pesquisar"></p>
    </form>
    
</div>
{% endblock%}