{% extends "template.twig"%} 
{% block container %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sobre o projeto desenvolvido: </h3>
    </div>
    <div class="panel-body">
        <br>
        <br>
        <p>
            <strong>01 - Cleriston Sampaio</strong><br>
            <strong>E-mail: </strong>cleriston.so@gmail.com
            <hr>
            <strong>02 - Diego Leite</strong><br>
            <strong>E-mail: </strong>diegojleite@gmail.com
            <hr>
            <strong>03 - Murilo Barbosa</strong><br>
            <strong>E-mail: </strong>murilojava@gmail.com
            <hr>
            <strong>04 - Matheus Cardoso</strong><br>
            <strong>E-mail: </strong>matheus.mcas@gmail.com
            <hr>
            
        </p>
    </div>
    <div class="panel-body">
        
        
    </div>
</div>
{% endblock%}
